
<nav>
  <ul>
    <li><a class= "intro" routerLink="output-component">Acceder al output</a></li>
  </ul>
</nav>
<section class="input">
  <label class= "intro" for="latitude">
    Latitude:
    <input
      name="latitude"
      type="number"
      [(ngModel)]="latitude"
      placeholder="Enter latitude"
    />
  </label>
  <label class= "intro" for="longitude">
    Longitude:
    <input
      name="longitude"
      type="number"
      [(ngModel)]="longitude"
      placeholder="Enter longitude"
    />
  </label>

</section>
<section class=" input">
<button class="butintro" (click)="upload()"> ENVIAR DATOS </button>
</section>
<section class="selector">
<select class="selText">
  <option value="one"> Wheat </option>
  <option value="two"> Soybean </option>
  <option value="three"> Maize </option>
  <option value="four"> Sugarcane </option>
  <option value="five"> Rice </option>
</select>
</section>
<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
