*{
  font-family: Poppins;
}
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
  margin-top: 150px!important;
  transition: ease-in-out 0.3;
}
.map-frame {
  height: 100%;
  border: 2px solid black;
  transition: ease-in-out 0.3;
}
.map-frame:hover {
  border: 2px solid black;
  height: 100%;

}

#map {
  height: 100%;
  transition: ease-in-out 0.3;
}

.intro {
  font-family: Arial, Helvetica, sans-serif;
}
.input {
  text-align: center;
}
.butintro {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  margin-top: 10px;
  height: 50px;
  width: 100px;
}
.selector {
  text-align: right;
  margin-top: -40px;
  margin-right: 100px!important;
  scale: 1.1;
}
.selText {
  text-align: center;
}


#latlong{
  display: flex;
  flex-direction: column;
}

.topCont{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top{
  width: 21%;
  border: 1px solid #000000;
  margin-top: 5x;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
}

.left{
  display: flex;
  flex-direction: column;
}

.right{
  margin-left: 20px;
}

.right button{
  height: 80px;
  width: 80px;
}

input{
  height: 25px;
  margin-bottom: 5px;
}

.logo img{
  height: 100px;
}

button{
  margin-top: 0px;
}