<div class="title">
  <p></p>
</div>
<div class="topCont">
  <div class="logo">
    <img src="assets/logo.jpg" alt="" srcset="">
  </div>
<div class="top">
  <div class="left">
    <input
      name="latitude"
      type="number"
      [(ngModel)]="latitude"
      placeholder="Latitude"
    />

    <input
      name="longitude"
      type="number"
      [(ngModel)]="longitude"
      placeholder="Longitude"
    />
    <select #croptype (change)="onSelected(croptype.value)" class="selText">
      <option value="" selected disabled hidden>Select crop type</option>
      <option value="one">Wheat</option>
      <option value="two">Soybean</option>
      <option value="three">Maize</option>
      <option value="four">Sugarcane</option>
      <option value="five">Rice</option>
    </select>
  </div>
  <div class="right">
    <button class= "pollon" (click)=upload() color="warn">Enviar</button>
  </div>

<!--<button class="butintro" (click)="upload()"> ENVIAR DATOS </button>-->

</div>
</div>
<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
