
<nav>
  <ul>
    <li><a routerLink="output-component">Acceder al output</a></li>
  </ul>
</nav>
<section>
  <label for="latitude">
    Latitude:
    <input
      name="latitude"
      type="number"
      [(ngModel)]="latitude"
      placeholder="Enter latitude"
    />
  </label>
</section>
<section>
  <label for="longitude">
    Longitude:
    <input
      name="longitude"
      type="number"
      [(ngModel)]="longitude"
      placeholder="Enter longitude"
    />
  </label>
</section>
<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
