<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</header>
<body>
  <div class="general">
      <div class="panel">
          <div class="paneltext">
            <p>Your calculated Index of Natural Resources Optimization...</p>
          </div>
          <div class="score">
              <p>{{score}} %</p>
              <h1>INRO</h1>
          </div>
          <div class="paneltext">
            <p>Point's environment conditions are...</p>
          </div>
          <div class="data_container">
              <table class="customTable">
                  <tbody>
                    <tr>
                      <td class="arriba">{{temp}}</td>
                      <td class="arriba">{{rain}}</td>
                      <td class="arriba">{{ph}}</td>
                      <td class="arriba">{{soil}}</td>
                      <td class="arriba">56</td>
                    </tr>
                    <tr>
                      <td class="abajo">Avg temp. [ºC]</td>
                      <td class="abajo">Avg rainfall [l/m²]</td>
                      <td class="abajo">Ground PH</td>
                      <td class="abajo">Soil type</td>
                      <td class="abajo">Air quality</td>
                    </tr>
                  </tbody>
                </table>
          </div>
          <!--MESSAGE HERE-->
      </div>
  </div>
</body>
